In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

from scipy import stats

import warnings
warnings.filterwarnings('ignore')

In [4]:
Time_d=r'D:\code\数学建模模版\数据集\竞赛发布数据\附表1-检索表格-流水号vs时间.xlsx'
Time_t=r'D:\code\数学建模模版\数据集\竞赛发布数据\表1-患者列表及临床信息.xlsx'

time_t=pd.read_excel(Time_t)
time_d=pd.read_excel(Time_d)
time_t.describe()

,90天mRS,入院首次影像检查流水号,年龄,脑出血前mRS评分,高血压病史,卒中病史,糖尿病史,房颤史,冠心病史,吸烟史,饮酒史,发病到首次影像检查时间间隔,脑室引流,止血治疗,降颅压治疗,降压治疗,镇静、镇痛治疗,止吐护胃,营养神经
count,100.000000,1.600000e+02,160.000000,160.000000,160.00000,160.000000,160.000000,160.000000,160.000000,160.000000,160.000000,160.000000,160.000000,160.000000,160.000000,160.00000,160.000000,160.000000,160.000000
mean,2.660000,2.018052e+13,64.100000,0.137500,0.88125,0.225000,0.150000,0.043750,0.087500,0.200000,0.131250,3.641375,0.062500,0.700000,0.725000,0.88125,0.643750,0.950000,0.950000
std,1.689062,1.315126e+10,13.945176,0.495102,0.32451,0.418893,0.358193,0.205181,0.283454,0.401256,0.338734,4.602256,0.242821,0.459696,0.447916,0.32451,0.480394,0.218629,0.218629
min,0.000000,2.016012e+13,30.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.250000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000
25%,1.000000,2.017049e+13,53.000000,0.000000,1.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.00000,0.000000,1.000000,1.000000
50%,3.000000,2.018062e+13,64.000000,0.000000,1.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000,0.000000,1.000000,1.000000,1.00000,1.000000,1.000000,1.000000
75%,4.000000,2.019094e+13,76.000000,0.000000,1.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,4.000000,0.000000,1.000000,1.000000,1.00000,1.000000,1.000000,1.000000
max,6.000000,2.020122e+13,96.000000,3.000000,1.00000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,24.000000,1.000000,1.000000,1.000000,1.00000,1.000000,1.000000,1.000000

In [35]:
during_t=time_t['发病到首次影像检查时间间隔'][:100]

0     2.5
1     3.0
2     2.0
3     1.0
4     5.0
     ...
95    1.0
96    3.0
97    2.5
98    3.0
99    0.5
Name: 发病到首次影像检查时间间隔, Length: 100, dtype: float64

In [14]:
during_d=time_d.iloc[:100,:].filter(regex=r'时间点$')
during_d.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 14 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   入院首次检查时间点  100 non-null    datetime64[ns]
 1   随访1时间点     100 non-null    datetime64[ns]
 2   随访2时间点     100 non-null    datetime64[ns]
 3   随访3时间点     71 non-null     datetime64[ns]
 4   随访4时间点     45 non-null     datetime64[ns]
 5   随访5时间点     20 non-null     datetime64[ns]
 6   随访6时间点     8 non-null      datetime64[ns]
 7   随访7时间点     4 non-null      datetime64[ns]
 8   随访8时间点     2 non-null      datetime64[ns]
 9   随访9时间点     1 non-null      datetime64[ns]
 10  随访10时间点    1 non-null      datetime64[ns]
 11  随访11时间点    1 non-null      datetime64[ns]
 12  随访12时间点    1 non-null      datetime64[ns]
 13  随访13时间点    0 non-null      float64
dtypes: datetime64[ns](13), float64(1)
memory usage: 11.1 KB

In [19]:
during_d.iloc[:,0]

0    2016-12-12 23:32:54
1    2016-04-06 21:21:03
2    2016-04-13 01:18:17
3    2016-12-15 22:53:41
4    2016-12-22 13:18:48
             ...
95   2018-08-02 19:28:50
96   2018-10-10 09:21:10
97   2018-06-12 22:32:20
98   2018-06-20 19:03:09
99   2018-03-14 04:46:39
Name: 入院首次检查时间点, Length: 100, dtype: datetime64[ns]

In [24]:
during_d['timedelta'] = during_d['随访2时间点'] - during_d['入院首次检查时间点']
during_d['timedelta']

0    5 days 09:36:30
1    2 days 18:13:19
2    1 days 13:35:45
3    3 days 10:50:43
4    3 days 20:56:35
           ...
95   3 days 14:58:49
96   7 days 00:24:01
97   7 days 17:09:25
98   1 days 15:31:46
99   8 days 04:44:12
Name: timedelta, Length: 100, dtype: timedelta64[ns]

In [31]:
during_d['hour']=during_d['timedelta'].apply(lambda x: x.total_seconds() / 3600)

In [37]:
during_d['hour1']=during_d['hour']+during_t

In [38]:
during_d['hour1']

<class 'pandas.core.series.Series'>
RangeIndex: 100 entries, 0 to 99
Series name: hour1
Non-Null Count  Dtype
--------------  -----
100 non-null    float64
dtypes: float64(1)
memory usage: 928.0 bytes

In [39]:
V_t=r'D:\code\数学建模模版\数据集\竞赛发布数据\表2-患者影像信息血肿及水肿的体积及位置.xlsx'
v_d=pd.read_excel(V_t)

In [43]:
v_t=v_d.iloc[:100,:].filter(like='HM_volume')
v_t.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   HM_volume    100 non-null    int64
 1   HM_volume.1  100 non-null    float64
 2   HM_volume.2  100 non-null    float64
 3   HM_volume.3  71 non-null     float64
 4   HM_volume.4  45 non-null     float64
 5   HM_volume.5  20 non-null     float64
 6   HM_volume.6  8 non-null      float64
 7   HM_volume.7  4 non-null      float64
 8   HM_volume.8  2 non-null      float64
dtypes: float64(8), int64(1)
memory usage: 7.2 KB

In [46]:
v_t['HM_volume.8']

0    NaN
1    NaN
2    NaN
3    NaN
4    NaN
      ..
95   NaN
96   NaN
97   NaN
98   NaN
99   NaN
Name: HM_volume.8, Length: 100, dtype: float64

<h2>提取出重复次数</h2>

In [49]:
during_d['count']=time_d['重复次数']
during_d

,入院首次检查时间点,随访1时间点,随访2时间点,随访3时间点,随访4时间点,随访5时间点,随访6时间点,随访7时间点,随访8时间点,随访9时间点,随访10时间点,随访11时间点,随访12时间点,随访13时间点,timedelta,hour,hour1,count
0,2016-12-12 23:32:54,2016-12-13 05:19:00,2016-12-18 09:09:24,2016-12-23 16:47:09,2016-12-30 14:35:12,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaN,5 days 09:36:30,129.608333,132.108333,5
1,2016-04-06 21:21:03,2016-04-07 09:16:27,2016-04-09 15:34:22,2016-04-25 10:22:02,2016-05-23 09:32:34,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaN,2 days 18:13:19,66.221944,69.221944,5
2,2016-04-13 01:18:17,2016-04-13 08:49:38,2016-04-14 14:54:02,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaN,1 days 13:35:45,37.595833,39.595833,3
3,2016-12-15 22:53:41,2016-12-16 14:52:08,2016-12-19 09:44:24,2016-12-25 09:23:45,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaN,3 days 10:50:43,82.845278,83.845278,4
4,2016-12-22 13:18:48,2016-12-23 10:46:51,2016-12-26 10:15:23,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaN,3 days 20:56:35,92.943056,97.943056,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,2018-08-02 19:28:50,2018-08-03 08:14:31,2018-08-06 10:27:39,2018-08-13 09:35:59,2018-08-20 09:58:54,2018-08-27 14:07:24,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaN,3 days 14:58:49,86.980278,87.980278,6
96,2018-10-10 09:21:10,2018-10-11 14:16:42,2018-10-17 09:45:11,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaN,7 days 00:24:01,168.400278,171.400278,3
97,2018-06-12 22:32:20,2018-06-14 14:47:44,2018-06-20 15:41:45,2018-07-06 14:32:09,2018-07-20 11:24:26,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaN,7 days 17:09:25,185.156944,187.656944,5
98,2018-06-20 19:03:09,2018-06-21 09:43:31,2018-06-22 10:34:55,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaN,1 days 15:31:46,39.529444,42.529444,3
99,2018-03-14 04:46:39,2018-03-15 15:00:31,2018-03-22 09:30:51,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaN,8 days 04:44:12,196.736667,197.236667,3

<h2>进行判断</h2>

In [68]:
v_t

,HM_volume,HM_volume.1,HM_volume.2,HM_volume.3,HM_volume.4,HM_volume.5,HM_volume.6,HM_volume.7,HM_volume.8
0,69714,74902.0,70952.0,62831.0,44029.0,NaN,NaN,NaN,NaN
1,47500,52271.0,47748.0,13055.0,20.0,NaN,NaN,NaN,NaN
2,86396,106042.0,103263.0,NaN,NaN,NaN,NaN,NaN,NaN
3,45498,39877.0,16622.0,8441.0,NaN,NaN,NaN,NaN,NaN
4,14832,24472.0,25477.0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
95,9114,9030.0,8631.0,6573.0,492.0,566.0,NaN,NaN,NaN
96,10806,12517.0,9929.0,NaN,NaN,NaN,NaN,NaN,NaN
97,188134,214629.0,178037.0,111107.0,75878.0,NaN,NaN,NaN,NaN
98,37309,58149.0,52350.0,NaN,NaN,NaN,NaN,NaN,NaN
99,14659,16176.0,7459.0,NaN,NaN,NaN,NaN,NaN,NaN

In [96]:
# 主函数
list=[]
for i in range(100):
    j=during_d['count'][i]
    my_dict = {}
    for t in range(j-1):
        duting=(during_d.iloc[i,t+1]-during_d.iloc[i,0]).total_seconds() / 3600+during_t[i]
        vcha=v_t.iloc[i,t+1]-v_t.iloc[i,0]
        if duting>48:
            if vcha<6000:
                list.append('0')
                break
            else:
                list.append('-1')
                break
        if duting<48:
            if vcha>6000:
                list.append('1')
                break             
list
j=1
for i in list:
    if i == '-1':
        print(f"sub{j}")
    j+=1

sub8
sub15
sub16
sub25
sub33
sub51
sub62

In [90]:
# 主函数
list2=[]
for i in range(100):
    j=during_d['count'][i]
    my_dict = {}
    for t in range(j-1):
        duting=(during_d.iloc[i,t+1]-during_d.iloc[i,0]).total_seconds() / 3600+during_t[i]
        vcha=v_t.iloc[i,t+1]-v_t.iloc[i,0]
        if duting>48:
            if vcha<6000:
                my_dict[duting]=0
                list2.append(my_dict)
                break
            else:
                my_dict[duting]=-1
                list2.append(my_dict)
                break
        if duting<48:
            if vcha>6000:
                my_dict[duting]=1
                list2.append(my_dict)
                break             
list2

[{132.10833333333332: 0},
 {69.22194444444445: 0},
 {9.5225: 1},
 {83.84527777777778: 0},
 {26.4675: 1},
 {121.63166666666666: 0},
 {117.12472222222222: 0},
 {98.24583333333334: -1},
 {40.056111111111115: 1},
 {211.39777777777778: 0},
 {332.5755555555556: 0},
 {71.6125: 0},
 {194.31333333333333: 0},
 {239.20305555555555: 0},
 {168.37305555555557: -1},
 {127.35222222222222: -1},
 {14.870277777777778: 1},
 {236.04805555555555: 0},
 {296.9011111111111: 0},
 {728.7119444444444: 0},
 {94.98333333333333: 0},
 {333.5725: 0},
 {221.03222222222223: 0},
 {297.22805555555556: 0},
 {67.47: -1},
 {76.0325: 0},
 {177.6952777777778: 0},
 {142.9261111111111: 0},
 {349.24194444444447: 0},
 {129.94916666666666: 0},
 {171.87277777777777: 0},
 {30.813055555555554: 1},
 {95.57194444444444: -1},
 {110.79166666666667: 0},
 {39.50111111111111: 1},
 {155.69416666666666: 0},
 {15.809166666666666: 1},
 {29.176111111111112: 1},
 {60.10305555555556: 0},
 {119.77: 0},
 {314.53805555555556: 0},
 {58.08083333333333: 0},
 {55.213055555555556: 0},
 {278.12805555555553: 0},
 {147.62194444444444: 0},
 {97.09722222222223: 0},
 {12.860833333333334: 1},
 {125.42055555555555: 0},
 {49.10388888888889: 0},
 {379.6197222222222: 0},
 {48.903888888888886: -1},
 {265.41777777777776: 0},
 {16.225: 1},
 {139.7461111111111: 0},
 {52.485277777777775: 0},
 {14.615833333333333: 1},
 {60.784444444444446: 0},
 {238.1075: 0},
 {23.726111111111113: 1},
 {6.541666666666667: 1},
 {180.7511111111111: 0},
 {56.87: -1},
 {54.88722222222222: 0},
 {118.89194444444445: 0},
 {49.89333333333333: 0},
 {127.53861111111111: 0},
 {148.55138888888888: 0},
 {196.16722222222222: 0},
 {297.9577777777778: 0},
 {208.18027777777777: 0},
 {186.24694444444444: 0},
 {146.23888888888888: 0},
 {107.15222222222222: 0},
 {86.40305555555555: 0},
 {15.993611111111111: 1},
 {14.119444444444444: 1},
 {200.32111111111112: 0},
 {27.84722222222222: 1},
 {20.573333333333334: 1},
 {27.421666666666667: 1},
 {190.58666666666667: 0},
 {126.98527777777778: 0},
 {85.4125: 0},
 {115.79527777777778: 0},
 {179.38805555555555: 0},
 {280.4483333333333: 0},
 {113.10027777777778: 0},
 {283.87416666666667: 0},
 {158.2252777777778: 0},
 {145.04805555555555: 0},
 {11.924722222222222: 1},
 {49.34111111111111: 0},
 {100.85166666666667: 0},
 {7.431666666666667: 1},
 {87.98027777777777: 0},
 {171.40027777777777: 0},
 {42.75666666666667: 1},
 {17.672777777777778: 1},
 {197.23666666666668: 0}]

In [95]:
j=1
for i in list2.values():
    if i == -1:
        print(i,f"sub{j}")
    j += 1

AttributeError: 'list' object has no attribute 'values'