In [97]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

from scipy import stats

import warnings
warnings.filterwarnings('ignore')

In [98]:
selected_cols = list(range(0, 100)) + list(range(132, 160))

# biao12=biao11.iloc[selected_cols,4:23]
# biao22=biao21.iloc[selected_cols,2:]
new_row_indices = list(range(100, 128))
# biao12 = biao12.rename(index=dict(zip(range(130, 160), new_row_indices)))
# biao22 = biao22.rename(index=dict(zip(range(130, 160), new_row_indices)))
# biao22

In [99]:
biao1=r'D:\code\数学建模模版\数据集\竞赛发布数据\表1-患者列表及临床信息.xlsx'
biao2=r'D:\code\数学建模模版\数据集\竞赛发布数据\表2-患者影像信息血肿及水肿的体积及位置.xlsx'
biao11=pd.read_excel(biao1).iloc[selected_cols,16:]
biao21=pd.read_excel(biao2).iloc[selected_cols,:]
biao11 = biao11.rename(index=dict(zip(range(132, 160), new_row_indices)))
biao21 = biao21.rename(index=dict(zip(range(132, 160), new_row_indices)))

biao21

,ID,首次检查流水号,HM_volume,HM_ACA_R_Ratio,HM_MCA_R_Ratio,HM_PCA_R_Ratio,HM_Pons_Medulla_R_Ratio,HM_Cerebellum_R_Ratio,HM_ACA_L_Ratio,HM_MCA_L_Ratio,...,ED_ACA_R_Ratio.8,ED_MCA_R_Ratio.8,ED_PCA_R_Ratio.8,ED_Pons_Medulla_R_Ratio.8,ED_Cerebellum_R_Ratio.8,ED_ACA_L_Ratio.8,ED_MCA_L_Ratio.8,ED_PCA_L_Ratio.8,ED_Pons_Medulla_L_Ratio.8,ED_Cerebellum_L_Ratio.8
0,sub001,20161212002136,69714,0.000258,0.877112,0.120148,0.000000,0.0,0.000000,0.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,sub002,20160406002131,47500,0.496000,0.180779,0.302316,0.000000,0.0,0.003032,0.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,sub003,20160413000006,86396,0.053718,0.829078,0.099681,0.000197,0.0,0.000000,0.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,sub004,20161215001667,45498,0.002242,0.002198,0.029100,0.000374,0.0,0.163458,0.313618,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,sub005,20161222000978,14832,0.000000,0.000000,0.001146,0.000337,0.0,0.000202,0.413363,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
123,sub156,20200306000927,32559,0.000000,0.033754,0.000000,0.000000,0.0,0.038545,0.922049,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
124,sub157,20201009003102,18150,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.997410,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
125,sub158,20200410001952,27969,0.002682,0.937359,0.059959,0.000000,0.0,0.000000,0.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
126,sub159,20200218000582,53154,0.000000,0.000000,0.000000,0.000000,0.0,0.004572,0.857678,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
127,sub160,20200821002584,49019,0.000000,0.907505,0.092372,0.000000,0.0,0.000000,0.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [100]:
filtered_cols = biao21.filter(regex='HM.*volume').columns
filtered_cols

Index(['HM_volume', 'HM_volume.1', 'HM_volume.2', 'HM_volume.3', 'HM_volume.4',
       'HM_volume.5', 'HM_volume.6', 'HM_volume.7', 'HM_volume.8'],
      dtype='object')

In [101]:
biao_time=pd.read_excel(r"C:\Users\y\Desktop\附表1-检索表格-流水号vs时间(1).xlsx").iloc[selected_cols,:]
biao_time = biao_time.rename(index=dict(zip(range(132, 160), new_row_indices)))
biao_time

,Unnamed: 0,重复次数,入院首次检查时间点,入院首次检查流水号,随访1时间点,随访1流水号,随访2时间点,随访2流水号,随访3时间点,随访3流水号,...,Unnamed: 98,Unnamed: 99,Unnamed: 100,Unnamed: 101,Unnamed: 102,Unnamed: 103,Unnamed: 104,Unnamed: 105,Unnamed: 106,Unnamed: 107
0,sub001,5,2016-12-12 23:32:54,20161212002136,2016-12-13 05:19:00,20161213000009,2016-12-18 09:09:24,2.016122e+13,2016-12-23 16:47:09,2.016122e+13,...,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,sub002,5,2016-04-06 21:21:03,20160406002131,2016-04-07 09:16:27,20160407000424,2016-04-09 15:34:22,2.016041e+13,2016-04-25 10:22:02,2.016043e+13,...,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,sub003,3,2016-04-13 01:18:17,20160413000006,2016-04-13 08:49:38,20160413000428,2016-04-14 14:54:02,2.016041e+13,NaT,NaN,...,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,sub004,4,2016-12-15 22:53:41,20161215001667,2016-12-16 14:52:08,20161216001119,2016-12-19 09:44:24,2.016122e+13,2016-12-25 09:23:45,2.016123e+13,...,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,sub005,3,2016-12-22 13:18:48,20161222000978,2016-12-23 10:46:51,20161223000561,2016-12-26 10:15:23,2.016123e+13,NaT,NaN,...,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
123,sub156,4,2020-03-06 14:33:56,20200306000927,2020-03-07 09:56:51,20200307000267,2020-03-11 14:40:53,2.020031e+13,2020-03-18 14:22:58,2.020032e+13,...,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
124,sub157,4,2020-10-09 19:35:00,20201009003102,2020-10-09 20:27:00,20201009003124,2020-10-10 02:12:00,2.020101e+13,2020-10-10 15:09:00,2.020101e+13,...,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
125,sub158,4,2020-04-10 17:40:00,20200410001952,2020-04-11 09:15:00,20200411000244,2020-04-13 14:10:00,2.020041e+13,2020-04-23 11:31:00,2.020042e+13,...,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
126,sub159,2,2020-02-18 15:29:00,20200218000582,2020-02-19 15:01:00,20200219000588,NaT,NaN,NaT,NaN,...,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
127,sub160,2,2020-08-21 22:32:00,20200821002584,2020-08-22 12:01:00,20200822000947,NaT,NaN,NaT,NaN,...,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [102]:
df=pd.DataFrame()
df['1']=biao_time['随访1时间点']-biao_time['入院首次检查时间点']
df['2']=biao_time['随访2时间点']-biao_time['随访1时间点']
df_col=df.columns.to_list()
# for x in df_col:
x=df['1']
j=0
for i in range(128):
    x[i]=x[i].total_seconds()/3600
df.fillna(0)
x1=df['2']
j=0
for i in range(128):
    x1[i]=x1[i].total_seconds()/3600
p_temp=pd.DataFrame()
p_temp['1']=x
p_temp['2']=x1
p_temp=p_temp.fillna(0)
p_temp

             1           2
0     5.768333  123.840000
1    11.923333   54.298611
2     7.522500   30.073333
3    15.974167   66.871111
4    21.467500   71.475556
..         ...         ...
123  19.381944  100.733889
124   0.866667    5.750000
125  15.583333   52.916667
126  23.533333    0.000000
127  13.483333    0.000000

[128 rows x 2 columns]

In [103]:
rows = p_temp.loc[p_temp['2'] == 0].index
train=biao11
for i in rows:
    p_temp.drop(i, inplace=True)
    train.drop(i, inplace=True)
    biao21.drop(i, inplace=True)
rows

Index([116, 117, 126, 127], dtype='int64')

In [104]:
train

     脑室引流  止血治疗  降颅压治疗  降压治疗  镇静、镇痛治疗  止吐护胃  营养神经
0       0     1      1     1        1     1     1
1       0     1      1     1        0     1     1
2       0     1      1     1        1     1     1
3       0     1      1     1        0     0     0
4       0     1      1     0        0     1     1
..    ...   ...    ...   ...      ...   ...   ...
121     0     1      0     1        1     1     1
122     0     1      1     1        0     1     1
123     0     1      1     1        0     1     1
124     1     0      1     1        1     1     1
125     0     1      1     1        1     1     1

[124 rows x 7 columns]

In [106]:
p_temp

             1           2
0     5.768333  123.840000
1    11.923333   54.298611
2     7.522500   30.073333
3    15.974167   66.871111
4    21.467500   71.475556
..         ...         ...
121  43.816389   76.999167
122  31.183056  169.694444
123  19.381944  100.733889
124   0.866667    5.750000
125  15.583333   52.916667

[124 rows x 2 columns]

In [108]:
train['ED_volume']=(biao21['ED_volume.1']-biao21['ED_volume'])*1.0/p_temp['1']
train['ED_volumn_1']=(biao21['ED_volume.2']-biao21['ED_volume.1'])*1.0/p_temp['2']
train

     脑室引流  止血治疗  降颅压治疗  降压治疗  镇静、镇痛治疗  止吐护胃  营养神经    ED_volume  ED_volumn_1
0       0     1      1     1        1     1     1  1556.602138   192.579134
1       0     1      1     1        0     1     1   -11.406206    92.543804
2       0     1      1     1        1     1     1  1152.675307   281.811128
3       0     1      1     1        0     0     0  -202.514476  -140.808188
4       0     1      1     0        0     1     1 -1127.751252  -143.881358
..    ...   ...    ...   ...      ...   ...   ...          ...          ...
121     0     1      0     1        1     1     1   184.063548    19.117090
122     0     1      1     1        0     1     1   843.663314   266.072352
123     0     1      1     1        0     1     1   200.805446     8.497637
124     1     0      1     1        1     1     1  3845.769231  8620.695652
125     0     1      1     1        1     1     1   202.203209   434.078740

[124 rows x 9 columns]

<h2>存储</h2>

In [109]:
train.to_excel('./数据集/train23.xlsx', index=False)

<h2>相关计算</h2>